:root {
  --annotation-color: #000;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
}

footer {
  text-align: right;
  color: #666;
  font-size: 13px;
  margin-top: 15px;
}

.container {
  width: 362px;
  margin: 75px auto;
}

.chart-holder {
  position: relative;
  width: 100%;
  height: 425px;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  p {
    margin: 0;
    text-align: center;
    top: unset;
    bottom: 30%;
    z-index: -1;
    color: #333;
    font-size: 20px;
    line-height: 1.4;
  }
}

.chart {
  width: 100%;
}

.annotation {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  p {
    color: #666;
    font-style: oblique;
    font-size: 15px;
    margin: 0;
  }
  .svg-arrow {
    margin-left: 10px;
    transform: rotate(-140deg);
    path {
      fill: none;
      stroke: var(--annotation-color);
      stroke-width: 1px;
    }

    #arrowhead {
      fill: var(--annotation-color);
      stroke: none;
    }
  }
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.waffle {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid hsla(0, 0%, 80%, 0.2);
  box-shadow: 0 1px 8px -5px #ccc;
  .block {
    width: 20px;
    height: 20px;
    transform: translateY(0);
    @for $i from 0 through 276 {
      &:nth-child(#{346 - $i}) {
        animation: falling 600ms ease-out forwards;
        // order: #{randomNum(0, 275)};
        animation-delay: 3s + (20ms * $i);
      }
    }

    &:nth-child(18) {
      border: 2px solid var(--annotation-color);
    }
  }
}

@keyframes falling {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

.state {
  span {
    display: inline-block;
  }
  .pre-pan {
    opacity: 1;
  }
}

.remove {
  .pre-pan {
    opacity: 0;
    transition: 0.6s ease-in-out opacity;
  }

  .pan {
    transform: translateX(-45px);
    transition: 0.8s ease-in-out transform;
  }
}
